<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Boys</key>
	<dict>
		<key>17-18</key>
		<dict>
			<key>1650FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>1000FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>500FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>200FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>100FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>50FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>15-16</key>
		<dict>
			<key>1650FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>1000FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>500FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>200FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>100FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>50FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>13-14</key>
		<dict>
			<key>1650FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>1000FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>500FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>200FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>100FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>50FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>11-12</key>
		<dict>
			<key>1650FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>1000FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>500FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>200FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>100FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>50FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Under10</key>
		<dict>
			<key>500FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>200FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>100FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
			<key>50FreeY</key>
			<dict>
				<key>B</key>
				<integer>0</integer>
				<key>BB</key>
				<integer>0</integer>
				<key>A</key>
				<integer>0</integer>
				<key>AA</key>
				<integer>0</integer>
				<key>AAA</key>
				<integer>0</integer>
				<key>AAAA</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>Girls</key>
	<dict>
		<key>17-18</key>
		<dict>
			<key>1650FreeY</key>
			<dict>
				<key>B</key>
				<real>1386.19</real>
				<key>BB</key>
				<real>1287.19</real>
				<key>A</key>
				<real>1192.19</real>
				<key>AA</key>
				<real>1138.69</real>
				<key>AAA</key>
				<real>1089.19</real>
				<key>AAAA</key>
				<real>1039.69</real>
			</dict>
			<key>1000FreeY</key>
			<dict>
				<key>B</key>
				<real>826.1900000000001</real>
				<key>BB</key>
				<real>767.1900000000001</real>
				<key>A</key>
				<real>708.1900000000001</real>
				<key>AA</key>
				<real>678.6900000000001</real>
				<key>AAA</key>
				<real>649.1900000000001</real>
				<key>AAAA</key>
				<real>619.6900000000001</real>
			</dict>
			<key>500FreeY</key>
			<dict>
				<key>B</key>
				<real>399.39</real>
				<key>BB</key>
				<real>370.89</real>
				<key>A</key>
				<real>342.29</real>
				<key>AA</key>
				<real>328.09</real>
				<key>AAA</key>
				<real>313.79</real>
				<key>AAAA</key>
				<real>299.59</real>
			</dict>
			<key>200FreeY</key>
			<dict>
				<key>B</key>
				<real>149.19</real>
				<key>BB</key>
				<real>138.49</real>
				<key>A</key>
				<real>127.89</real>
				<key>AA</key>
				<real>122.49</real>
				<key>AAA</key>
				<real>117.19</real>
				<key>AAAA</key>
				<real>111.89</real>
			</dict>
			<key>100FreeY</key>
			<dict>
				<key>B</key>
				<real>69.39</real>
				<key>BB</key>
				<real>64.48999999999999</real>
				<key>A</key>
				<real>59.49</real>
				<key>AA</key>
				<real>56.99</real>
				<key>AAA</key>
				<real>54.49</real>
				<key>AAAA</key>
				<real>52.09</real>
			</dict>
			<key>50FreeY</key>
			<dict>
				<key>B</key>
				<real>31.99</real>
				<key>BB</key>
				<real>26.69</real>
				<key>A</key>
				<real>27.49</real>
				<key>AA</key>
				<real>26.29</real>
				<key>AAA</key>
				<real>25.19</real>
				<key>AAAA</key>
				<real>23.99</real>
			</dict>
		</dict>
		<key>15-16</key>
		<dict>
			<key>1650FreeY</key>
			<dict>
				<key>B</key>
				<real>1386.29</real>
				<key>BB</key>
				<real>1287.19</real>
				<key>A</key>
				<real>1192.19</real>
				<key>AA</key>
				<real>1138.69</real>
				<key>AAA</key>
				<real>1089.19</real>
				<key>AAAA</key>
				<real>1039.69</real>
			</dict>
			<key>1000FreeY</key>
			<dict>
				<key>B</key>
				<real>831.09</real>
				<key>BB</key>
				<real>771.6900000000001</real>
				<key>A</key>
				<real>712.39</real>
				<key>AA</key>
				<real>682.6900000000001</real>
				<key>AAA</key>
				<real>652.99</real>
				<key>AAAA</key>
				<real>623.29</real>
			</dict>
			<key>500FreeY</key>
			<dict>
				<key>B</key>
				<real>401.29</real>
				<key>BB</key>
				<real>372.69</real>
				<key>A</key>
				<real>343.99</real>
				<key>AA</key>
				<real>329.69</real>
				<key>AAA</key>
				<real>315.39</real>
				<key>AAAA</key>
				<real>300.99</real>
			</dict>
			<key>200FreeY</key>
			<dict>
				<key>B</key>
				<real>150.79</real>
				<key>BB</key>
				<real>139.99</real>
				<key>A</key>
				<real>129.29</real>
				<key>AA</key>
				<real>123.89</real>
				<key>AAA</key>
				<real>118.49</real>
				<key>AAAA</key>
				<real>113.09</real>
			</dict>
			<key>100FreeY</key>
			<dict>
				<key>B</key>
				<real>69.98999999999999</real>
				<key>BB</key>
				<real>64.98999999999999</real>
				<key>A</key>
				<real>59.99</real>
				<key>AA</key>
				<real>57.49</real>
				<key>AAA</key>
				<real>54.99</real>
				<key>AAAA</key>
				<real>52.49</real>
			</dict>
			<key>50FreeY</key>
			<dict>
				<key>B</key>
				<real>32.29</real>
				<key>BB</key>
				<real>29.99</real>
				<key>A</key>
				<real>27.69</real>
				<key>AA</key>
				<real>26.59</real>
				<key>AAA</key>
				<real>25.39</real>
				<key>AAAA</key>
				<real>24.29</real>
			</dict>
		</dict>
		<key>13-14</key>
		<dict>
			<key>1650FreeY</key>
			<dict>
				<key>B</key>
				<real>1414.19</real>
				<key>BB</key>
				<real>1313.19</real>
				<key>A</key>
				<real>1212.19</real>
				<key>AA</key>
				<real>1161.69</real>
				<key>AAA</key>
				<real>1111.19</real>
				<key>AAAA</key>
				<real>1060.69</real>
			</dict>
			<key>1000FreeY</key>
			<dict>
				<key>B</key>
				<real>848.89</real>
				<key>BB</key>
				<real>788.29</real>
				<key>A</key>
				<real>727.59</real>
				<key>AA</key>
				<real>697.29</real>
				<key>AAA</key>
				<real>666.99</real>
				<key>AAAA</key>
				<real>636.6900000000001</real>
			</dict>
			<key>500FreeY</key>
			<dict>
				<key>B</key>
				<real>411.79</real>
				<key>BB</key>
				<real>382.39</real>
				<key>A</key>
				<real>352.99</real>
				<key>AA</key>
				<real>338.29</real>
				<key>AAA</key>
				<real>323.49</real>
				<key>AAAA</key>
				<real>308.79</real>
			</dict>
			<key>200FreeY</key>
			<dict>
				<key>B</key>
				<real>153.89</real>
				<key>BB</key>
				<real>142.89</real>
				<key>A</key>
				<real>131.99</real>
				<key>AA</key>
				<real>126.49</real>
				<key>AAA</key>
				<real>120.99</real>
				<key>AAAA</key>
				<real>115.49</real>
			</dict>
			<key>100FreeY</key>
			<dict>
				<key>B</key>
				<real>71.39</real>
				<key>BB</key>
				<real>66.29000000000001</real>
				<key>A</key>
				<real>61.19</real>
				<key>AA</key>
				<real>58.69</real>
				<key>AAA</key>
				<real>56.09</real>
				<key>AAAA</key>
				<real>53.59</real>
			</dict>
			<key>50FreeY</key>
			<dict>
				<key>B</key>
				<real>32.89</real>
				<key>BB</key>
				<real>30.49</real>
				<key>A</key>
				<real>28.19</real>
				<key>AA</key>
				<real>26.99</real>
				<key>AAA</key>
				<real>25.79</real>
				<key>AAAA</key>
				<real>24.69</real>
			</dict>
		</dict>
		<key>11-12</key>
		<dict>
			<key>1650FreeY</key>
			<dict>
				<key>B</key>
				<real>1501.49</real>
				<key>BB</key>
				<real>1394.19</real>
				<key>A</key>
				<real>1286.99</real>
				<key>AA</key>
				<real>1233.39</real>
				<key>AAA</key>
				<real>1179.69</real>
				<key>AAAA</key>
				<real>1126.09</real>
			</dict>
			<key>1000FreeY</key>
			<dict>
				<key>B</key>
				<real>888.09</real>
				<key>BB</key>
				<real>824.6900000000001</real>
				<key>A</key>
				<real>761.1900000000001</real>
				<key>AA</key>
				<real>729.49</real>
				<key>AAA</key>
				<real>697.79</real>
				<key>AAAA</key>
				<real>666.09</real>
			</dict>
			<key>500FreeY</key>
			<dict>
				<key>B</key>
				<real>429.29</real>
				<key>BB</key>
				<real>398.59</real>
				<key>A</key>
				<real>367.99</real>
				<key>AA</key>
				<real>352.59</real>
				<key>AAA</key>
				<real>337.29</real>
				<key>AAAA</key>
				<real>321.99</real>
			</dict>
			<key>200FreeY</key>
			<dict>
				<key>B</key>
				<real>161.19</real>
				<key>BB</key>
				<real>149.69</real>
				<key>A</key>
				<real>138.19</real>
				<key>AA</key>
				<real>132.39</real>
				<key>AAA</key>
				<real>126.69</real>
				<key>AAAA</key>
				<real>120.89</real>
			</dict>
			<key>100FreeY</key>
			<dict>
				<key>B</key>
				<real>73.59</real>
				<key>BB</key>
				<real>68.29000000000001</real>
				<key>A</key>
				<real>63.09</real>
				<key>AA</key>
				<real>60.49</real>
				<key>AAA</key>
				<real>25.79</real>
				<key>AAAA</key>
				<real>55.19</real>
			</dict>
			<key>50FreeY</key>
			<dict>
				<key>B</key>
				<real>34.09</real>
				<key>BB</key>
				<real>31.69</real>
				<key>A</key>
				<real>29.39</real>
				<key>AA</key>
				<real>28.19</real>
				<key>AAA</key>
				<real>26.99</real>
				<key>AAAA</key>
				<real>25.79</real>
			</dict>
		</dict>
		<key>Under10</key>
		<dict>
			<key>500FreeY</key>
			<dict>
				<key>B</key>
				<real>510.49</real>
				<key>BB</key>
				<real>459.49</real>
				<key>A</key>
				<real>408.39</real>
				<key>AA</key>
				<real>391.39</real>
				<key>AAA</key>
				<real>374.39</real>
				<key>AAAA</key>
				<real>357.39</real>
			</dict>
			<key>200FreeY</key>
			<dict>
				<key>B</key>
				<real>200.19</real>
				<key>BB</key>
				<real>178.29</real>
				<key>A</key>
				<real>156.39</real>
				<key>AA</key>
				<real>149.09</real>
				<key>AAA</key>
				<real>141.79</real>
				<key>AAAA</key>
				<real>134.39</real>
			</dict>
			<key>100FreeY</key>
			<dict>
				<key>B</key>
				<real>90.69</real>
				<key>BB</key>
				<real>81.09</real>
				<key>A</key>
				<real>71.39</real>
				<key>AA</key>
				<real>68.19</real>
				<key>AAA</key>
				<real>64.98999999999999</real>
				<key>AAAA</key>
				<real>61.79</real>
			</dict>
			<key>50FreeY</key>
			<dict>
				<key>B</key>
				<real>39.49</real>
				<key>BB</key>
				<real>35.69</real>
				<key>A</key>
				<real>31.89</real>
				<key>AA</key>
				<real>30.59</real>
				<key>AAA</key>
				<real>29.29</real>
				<key>AAAA</key>
				<real>28.09</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
